@import '~carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/theme-maps';
$carbon--theme: $carbon--theme--g100;

@import "~carbon-components/scss/globals/scss/styles";
@import "style/login";

html {
  // font-size: 20px;
}

body {
  padding: 0;
  margin: 0;
}

//noinspection ALL
.bx--form-item > div {
    width: -webkit-fill-available;
}

.SideBar {
  border-right: 1px #EEE solid;
}

.PageTitle {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 2rem;
}

.FixedNotification {
  position: fixed;
  bottom: 0;
  left: 12px;
  z-index: 999999;
}

.FixedLanguageSelect {
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  background-color: #FFF;
  width: 100%;
  .FillFlex {
    flex-grow: 1;
  }
}
